$color-primary-light: #37722d;
$color-primary-dark: #0d100d;

$color-secondary-light:#597583;
$color-secondary-dark: #212D2B;

$color-road-light: #42574D;
$color-trees-dark: #1F201A;
$color-woods-light: #78593C;
$color-green-dark: #212D2B;

$color-red: rgb(225, 17, 17);

$color-grey-light-1: #f7f7f7;
$color-grey-light-3: #eee;
$color-grey-dark: rgb(57, 57, 57);
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;