// $color-primary-light: rgb(57, 173, 208);
// $color-primary-dark: rgb(11, 57, 84);

$color-primary-light: rgb(55, 114, 45);
$color-primary-dark: rgb(13, 16, 13);

$color-secondary-light:#597583;
$color-secondary-dark: #212D2B;

$color-road-light: #42574D;
$color-trees-dark: #1F201A;
$color-woods-light: #78593C;
$color-green-dark: #212D2B;

$color-red: rgb(225, 17, 17);

$color-grey-light-1: #f7f7f7;
$color-grey-light-3: #eee;
$color-grey-dark: rgb(57, 57, 57);
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;